@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.orangeColor { color: hsl(25, 97%, 53%); }
.bg-orangeColor { background-color: hsl(25, 97%, 53%); }
.whiteColor { color: hsl(0, 0%, 100%); }
.lightGreyColor { color: hsl(217, 12%, 63%); }
.bgLightGreyColor { background-color: hsl(217, 12%, 63%); }
.mediumGreyColor { background-color: #383e44; }
.darkBlueColor { background-color: #1e252f; }
.veryDarkBlueColor { background-color: #141519;}
.font-Text { font-size: 15px; font-family: 'Overpass', sans-serif;}